---
layout: default
---

<div class="home">

  <p>Welcome to the site. This time, with actual content! It's still a work in progress,
     but it's much further on than it's been for the last few years. Take a look around
     and if you have any comments, please <a href="/about/#contact">get in touch</a>.</p>

  <p>A quick overview of this version, what's here and what isn't can be found in <a href="/2017/09/26/winter-has-arrived.html">this post</a>. I'll post more as I go along.

  <h1>Recent Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts offset:0 limit:10  %}
      <li>
        <h2 style="margin-bottom:5px"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
        <p class="post-meta">
          <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ post.date | date: date_format }}
          </time>
          {% if post.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ post.author }}</span></span>
          {% endif %}
          {% assign tags = post.tags %}
          {% if post.tags.size > 0 %}
            <span class="post-tags">
              • {% for tag in tags %}<a href="{{site.baseurl}}/tags/{{tag|slugize}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
            </span>
          {% endif %}
          {% assign wc = post.content | count_words %}
          • <span class="post-reading-time"><span itemprop="wordCount">{% include numberWithCommas.html number=wc %}</span> words</span>
        </p>
      </li>
    {% endfor %}
  </ul>

</div>
